This is a picture of your image.

%br= @image.id
%img{:src => @image.url}

%br

The crowd has reviewed the following melanoma criteria.

%table
  %tr
    %th Symmetry
    %th Border
    %th Color
    %th Diameter
    %th Elevation
  %tr
    %td= @image.symmetry
    %td= @image.border
    %td= @image.color
    %td= @image.diameter
    %td= @image.elevation

- if "pending" == @image.diagnosis
  We have not gathered enough information to offer any suggestions.
- else
  Given the above criteria we think:
  %br= @image.diagnosis

%br= @image.disease_real
